<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
  <p>What city are you visiting?</p>
  <input v-model="city">
  <button v-on:click="getWeather">Get Weather</button>
  <p v-if="willRain">It's going to rain there, so bring an umbrella!</p>
  <p v-if="willBeCold">It's going to be cold there, so bring warm clothes!</p>
  <p v-if="willBeWarm">It's going to be warm there, so bring cool clothes!</p>
  <p v-if="willBeHot">It's going to be hot there, so bring sun cream!</p>
  <table>
    <tr>
      <th>Time</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Rainfall</th>
    </tr>
    <tr v-for="item in forecastData.list">
      <td>{{ item.dt }}</td>
      <td>{{ item.main.temp }} °C</td>
      <td>{{ item.wind.speed }} m/s</td>
      <td>{{ item.rain["3h"] }} mm</td>
    </tr>
  </table>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      city: '',
        forecastData: {},
      willRain: false,
      willBeCold: false,
      willBeWarm: false,
      willBeHot: false
    },
    methods: {
      getWeather: getWeather,
      checkWeather: checkWeather
    }
  })

  function getWeather(){
    let promise = fetch(`http://localhost:3000/weather/${this.city}`)
    promise.then(response => response.json())
        .then(response => {
            console.log(response)
            this.forecastData = cleanData(response)
        })
        .then(response => this.checkWeather())
  }

  function cleanData(data) {
    let list = data.list
    for(item of list) {
        if(item.rain === undefined) item.rain = { "3h": 0 }
        item.main.temp = toCelsius(item.main.temp)
        let datetime = new Date(item.dt * 1000)
        item.dt = datetime.toLocaleString()
    }
    return data
  }

  function checkWeather() {
    let list = this.forecastData.list
    this.willRain = false
    this.willBeCold = false
    this.willBeWarm = false
    this.willBeHot = false
    for(item of list) {
      let temp = item.main.temp
      if(temp >= -10 && temp <= 10) {
        this.willBeCold = true
      }
      if(temp >= 10 && temp <= 20) {
        this.willBeWarm = true
      }
      if(temp >= 20) {
        this.willBeHot = true
      }
      if(item.weather[0].main === "Rain") {
        this.willRain = true
      }
    }
  }

  function toCelsius(kelvin) {
    return (kelvin - 273.15).toFixed(2)
  }
</script>
